token: {{ lookup('community.general.bitwarden', controlplane_token_secret_name, field='password') }}
server: https://{{ controlplane_ip }}:6443
advertise-address: {{ controlplane_ip }}
vpn-auth: name=tailscale,joinKey={{ k3s_tailscale_authkey | mandatory(msg='TS_KEY must be defined in the env.')}},extraArgs=--accept-routes
cluster-cidr: {{ controlplane_cluster_cidr }}
service-cidr: {{ controlplane_service_cidr }}
secrets-encryption: true
# https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/#providers
# Secretbox is strong; kms runs as a pod and can have issues
# https://github.com/k3s-io/k3s/issues/10058
secrets-encryption-provider: secretbox
kube-apiserver-arg:
  - 'enable-admission-plugins=NodeRestriction,EventRateLimit,AlwaysPullImages'
  - 'admission-control-config-file=/var/lib/rancher/k3s/server/psa.yaml'
  - 'audit-log-path=/var/lib/rancher/k3s/server/logs/audit.log'
  - 'audit-policy-file=/var/lib/rancher/k3s/server/audit.yaml'
  - 'audit-log-maxage=30'
  - 'audit-log-maxbackup=10'
  - 'audit-log-maxsize=100'
kube-controller-manager-arg:
  - 'terminated-pod-gc-threshold=10'
kubelet-arg:
  - 'pod-max-pids=2097152'
  - 'streaming-connection-idle-timeout=1h'
  # Specifically these suites are taken from the k3s CIS hardening guide: https://docs.k3s.io/security/hardening-guide#configuration-for-kubernetes-components
  - 'tls-cipher-suites=TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305'
