cluster-init: true
vpn-auth: name=tailscale,joinKey={{ k3s_tailscale_authkey | mandatory(msg='TS_KEY must be defined in the env.')}}
cluster-cidr: {{ controlplane_cluster_cidr }}
service-cidr: {{ controlplane_service_cidr }}
