token: {{ lookup('community.general.bitwarden', agent_token_secret_name, field='password') }}
server: https://{{ controlplane_ip }}:{{ controlplane_port }}
vpn-auth: name=tailscale,joinKey={{ k3s_tailscale_authkey | mandatory(msg='TS_KEY must be defined in the env.')}},extraArgs=--accept-routes
kubelet-arg:
  - 'pod-max-pids=2097152'
  - 'streaming-connection-idle-timeout=1h'
  # Specifically these suites are taken from the k3s CIS hardening guide: https://docs.k3s.io/security/hardening-guide#configuration-for-kubernetes-components
  - 'tls-cipher-suites=TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305,TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305'
