token: {{ lookup('community.general.bitwarden', agent_token_secret_name, field='password', collection_name='test') }}
server: https://{{ controlplane_ip }}:6443
vpn-auth: name=tailscale,joinKey={{ k3s_tailscale_authkey | mandatory(msg='TS_KEY must be defined in the env.')}}
