token: {{ lookup('community.general.bitwarden', '{{ bw_node_key_secret_name}}', field='password', collection_name='test') }}
server: https://{{ k3s_controlplane_ip }}:6443
vpn-auth: name=tailscale,joinKey={{ tailscale_authkey }}
